[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/awesome"]
	path = themes/awesome
	url = https://github.com/hugo-sid/hugo-blog-awesome
[submodule "themes/dusk"]
	path = themes/dusk
	url = https://github.com/gyorb/hugo-dusk
